body{
    margin:0px;
    padding:0px;
}

header{
   background-image: url("http://skilled.aislinthemes.com/app/uploads/2015/11/bg.png");
    background-repeat: no-repeat;
    height:360px;
    text-align: center;
}

header img{
    position:relative;
    top:100px;
}
header p{
    color:white;
    font-size:1.3em;
    padding-top:150px;
}
/* -------Courses page--------*/
#courses{
    background-color: #F2F2F2;
    padding:100px;
}

 
#course-image1 {
    display:inline-block;
    width:50%;
    float:left;
    padding-bottom:90px;
    
}

#course-image1 img{
     float:left;
    padding-right:60px;
    max-width:50%;
}
 
#course-image2{
    display:inline-block;
    width:50%;
    padding-bottom:90px;
}

#course-image2 img{
    float:left;
    padding-right:60px;
    max-width:50%;
     
}

 
#course-image3{
    display:inline-block;
    width:50%;
    float:left;
    clear:both;
}
 
#course-image3 img{
    float:left;
    padding-right: 60px;
    max-width:50%;
}

#course-image4{
    display:inline-block;
     width:50%;
      
}

#course-image4 img{
    padding-right:60px;
    float:left;
    max-width:50%;
}

.view_demo_buttons{
    background-color: #ffc000;
    color:white;
    height:47px;
    width:152px;
}
@media(max-width:944px){
    #course-image1, #course-image2,#course-image3,#course-image4{
        width:100%;
    }
    
    #courses{
        padding:0px;
    }
    #course-image1 img, #course-image2 img,#course-image3 img,#course-image4 img{
        float:none;
        max-width:100%;
        
        
    }
}

/*------ sensei plugin------*/
#sensei{
    text-align: center;
    background-color: #FFFFFF;
}
#sensei p{
    color: #666666;
}
 
.widget{
    display:inline-block;
    width:24%;
}

.widget i{
    font-size:32px
}
@media(max-width:944px){
    .widget{
        display:block;
        width:100%;
    }   
}


/*-----color_alternatives----*/

#color_alternative{
     text-align: center;
    background-color:#F3F3F3;
}
#color_alternative div{
    max-width:24%;
     
}
#color_alternative img{
    max-width:80%;
     
}
#color_alternative div{
    display:inline-block;
}

@media(max-width:944px){
    #color_alternative div{
        display:block;
        max-width:100%;
    }   
}

/*-----benefit-----*/
#benefits{
    text-align:center;
    background-color:#EEEEEE
}

.benefit{
    display:inline-block;
    width:24%;
     
}

@media(max-width:944px){
    .benefit{
        display:block;
        width:100%;
    }   
}

/*----Footer ----*/
.top-footer{
    background-color: #FFCE55;
    text-align: center;
    height:160px;
    padding:1px;
}

.top-footer p{
    padding-top:70px;
    color:#FFF7E3;
}

.middle-footer{
    background-color:#2B2B2B;
    text-align: center;
    padding:1px;
    height:383px;
}
.middle-footer h1 {
    color:white;
    padding-top:39px;
}
.middle-footer p{
    color:#BABABA;
    
}

.middle-footer-button-one{
    background-color: #FFC430;
    width:140px;
    height:50px;
    margin-right:30px;
    margin-top:34px;
}

.middle-footer-button-two{
    background-color: #2B2B2B;
    width:130px;
    height:50px;
}


.bottom-footer{
    background-color:#0A0A0A;
    text-align: center;
    padding:1px;
}

.bottom-footer p{
    color: #666666;
}