body{
    margin:0px;
    padding:0px;
}

header{
   background-image: url("http://skilled.aislinthemes.com/app/uploads/2015/11/bg.png");
    height:360px;
    width:100vw;
    text-align: center;
}

header img{
    position:relative;
    top:100px;
}
header p{
    color:white;
    font-size:1.3em;
    padding-top:150px;
}

#courses{
    background-color: #F2F2F2;
}

 
#course-image1 {
    display:inline-block;
     width:50%;
     float:left;
    
}

#course-image1 img{
     float:left;
    padding-right:60px;
    max-width:100%;
}
 
 