body{
    margin:0px;
    padding:0px;
}

header{
   background-image: url("http://skilled.aislinthemes.com/app/uploads/2015/11/bg.png");
    height:360px;
    width:100vw;
    position:absolute;
}

header p{
    color:white;
    text-align: center;
    font-size:1.3em;
    padding-top:210px;
}